html {
    box-sizing:border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 50px;
}

#map {
    height: 60vh;
}



#btn btn-primary{
    margin-left: 50px;
}
